[submodule "zinux"]
	path = zinux
	url = https://github.com/dariushha/zinux.git
	branch = master 

[submodule "vendors/activerecord/lib"]
	path = vendors/activerecord/lib
	url = git@github.com:jpfuentes2/php-activerecord.git
[submodule "vendors/PHPMailer/lib"]
	path = vendors/PHPMailer/lib
	url = git@github.com:PHPMailer/PHPMailer.git
